:root {
  --font-family-headings: 'Work Sans', sans-serif;
  --font-family-copy: 'Roboto', sans-serif;
  --font-color-primary: #000;
  --font-color-secondary: #ccc;
  --font-color-warning: yellow;
  --font-color-danger: red;
}